<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>controller.filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ProfileFilter</filter-name>
        <filter-class>controller.filter.ProfileFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SaveFilter</filter-name>
        <filter-class>controller.filter.SaveFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PasswordHashingFilter</filter-name>
        <filter-class>controller.filter.PasswordHashingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PasswordHashingFilter</filter-name>
        <servlet-name>RegisterAccountController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PasswordHashingFilter</filter-name>
        <servlet-name>LoginController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ProfileFilter</filter-name>
        <url-pattern>/profile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaveFilter</filter-name>
        <url-pattern>/savedrecipe</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>DebugController</servlet-name>
        <servlet-class>controller.DebugController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagementController</servlet-name>
        <servlet-class>controller.baker.UserManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInformationController</servlet-name>
        <servlet-class>controller.EditInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCommentListController</servlet-name>
        <servlet-class>controller.admin.ShowCommentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountController</servlet-name>
        <servlet-class>controller.baker.RegisterAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageController</servlet-name>
        <servlet-class>controller.ManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostRatedRecipeController</servlet-name>
        <servlet-class>controller.recipe.MostRatedRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSavedRecipeListController</servlet-name>
        <servlet-class>controller.recipe.ShowSavedRecipeListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostRecentRecipeController</servlet-name>
        <servlet-class>controller.recipe.MostRecentRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.baker.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.baker.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FollowController</servlet-name>
        <servlet-class>controller.baker.FollowController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRecipeController</servlet-name>
        <servlet-class>controller.recipe.AddRecipeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommnetRecipeAjax</servlet-name>
        <servlet-class>controller.ajax.CommnetRecipeAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>controller.recipe.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByIngredientController</servlet-name>
        <servlet-class>controller.recipe.SearchByIngredientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBoardController</servlet-name>
        <servlet-class>controller.admin.AdminDashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordAjax</servlet-name>
        <servlet-class>controller.ajax.ChangePasswordAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSumUserRegisterInMonthByYearAjax</servlet-name>
        <servlet-class>controller.admin.getSumUserRegisterInMonthByYearAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportRecipeAjax</servlet-name>
        <servlet-class>controller.ajax.ReportRecipeAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCommentAjax</servlet-name>
        <servlet-class>controller.ajax.ReportCommentAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportUserAjax</servlet-name>
        <servlet-class>controller.ajax.ReportUserAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationController</servlet-name>
        <servlet-class>controller.NotificationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DebugController</servlet-name>
        <url-pattern>/debug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostRatedRecipeController</servlet-name>
        <url-pattern>/MostRatedRecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSavedRecipeListController</servlet-name>
        <url-pattern>/savedrecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementController</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageController</servlet-name>
        <url-pattern>/managestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInformationController</servlet-name>
        <url-pattern>/ProfileInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostRecentRecipeController</servlet-name>
        <url-pattern>/MostRecentRecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCommentListController</servlet-name>
        <url-pattern>/commentlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FollowController</servlet-name>
        <url-pattern>/FollowController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRecipeController</servlet-name>
        <url-pattern>/addrecipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommnetRecipeAjax</servlet-name>
        <url-pattern>/ajax/CommnetRecipeAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/CommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByIngredientController</servlet-name>
        <url-pattern>/searchByIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBoardController</servlet-name>
        <url-pattern>/AdminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordAjax</servlet-name>
        <url-pattern>/ChangePasswordAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSumUserRegisterInMonthByYearAjax</servlet-name>
        <url-pattern>/getSumUserRegisterInMonthByYearAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportRecipeAjax</servlet-name>
        <url-pattern>/ReportRecipeAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportCommentAjax</servlet-name>
        <url-pattern>/ReportCommentAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportUserAjax</servlet-name>
        <url-pattern>/ReportUserAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationController</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>landing.jsp</welcome-file>
    </welcome-file-list>
</web-app>
