@import "web/bootstrap-4.3.1.min.css";
body {
    margin: 0;
    line-height: normal;
}
body > * {
    font-size: 16px;
}
.create-recipe-b {
    display: inline-block;
    translate: 0.5em 0;
}
.text-h2 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
}
.text-h2 i {
    width: 25px;
    aspect-ratio :1/1;
    border-radius: 50%;
    text-align: center;
}
.text-h2 i:hover {
    box-shadow: 0 -1px 0 5px var(hard-yellow-75);
    background: var(hard-yellow-75);

}
.text-h2 i::before {

}
.create-recipe-div {
    position: relative;
    display: flex;
    align-items: center;
}
.save-b2 {
    font-family: Inter;
    color: #fff;
    font-size: 0.8em;
}
.save-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #db5a42;
    border-radius: 20px;
    display: flex;
    padding: 4px 1.2em;
}
.create-recipe-main {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 40px 65px;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: left;
    font-size: 24px;
    min-width: 450px;
    max-width: 600px;
    color: #000;
    font-family: Inter;
}

.title-div,
.input {
    align-self: stretch;
    flex-shrink: 0;
}
.input {
    border: 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    min-height: 40px;
    overflow: hidden;
    background: #fff;
}
input,textarea{
    border-radius: 5px;
    outline: 3px outset transparent;
    transition: outline 0.3s;
    background: white;
    border:none;
}
:is(input,textarea):focus{
    outline: 3px outset var(hard-yellow-75);

}

.title-div {
    display: flex;
    flex-direction: column;
}

.description-button {
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    padding: 6px 10px;
    background-color: var(--side-theme-color);
    border-radius: 40px;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    background: #f1b0b7 linear-gradient(var(--hard-yellow-theme-50) 30%,transparent);
    color:inherit;
    gap:10px;
}
.description-button:hover {
    outline:3px solid var(--yellow-theme-75)
}
.vector-icon2 {
    margin: 0 !important;
    width: 35px;
    aspect-ratio:45/40;
}


.boxdes-textarea,
.label {
    align-self: stretch;
    position: relative;
}

.boxdes-textarea {
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    min-height: 80px;
    flex-shrink: 0;
    overflow: hidden;
    text-align: left;
    aspect-ratio: 12/2;
}
.display-image{
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 4px #00000025;
}
.display-image .image{
    background: var(--side-theme-color) url(../images/rectangle-20@2x.png) no-repeat ;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 2px inset var(--pink-theme);
    aspect-ratio: 54/34;
    border-radius: inherit;
}
.display-image .image.cover{
    box-shadow: 0 0 0 2px inset var(--hard-yellow-theme);
}
.display-image .display-image-options {
    position: absolute;
    bottom:2%;
    left:0;
    right:0;
}
.display-image #remove-image{
    align-items: center;
    padding: 7px;
    margin-left: 1em;
    background: white;
    border: 1px solid lightgray;
    font-size: 1em;
    border-radius: 50%;
}
.video-and-image {
    gap: 10px;
    aspect-ratio: 12/2;
    overflow-x: clip;
}
.video-and-image span{
    aspect-ratio:1;
    font-family: 'Gelasio';
    gap:2em;
    border-width: 2px;
    box-shadow: 0 0 0 0 inset #00000000;
    border-color: var(--pink-theme);
    transition: 0.3s;
    position: relative;
    background-size: cover;
    background-repeat:  no-repeat;

}
.video-and-image span:hover{
    box-shadow: 0 0 50px 0 inset var(--brown-theme-50);
}
.video-and-image span:has(div){
    background:white;
}

.video-and-image span.video{
    border: 3px solid var(--yellow-theme);
}
.video-and-image span.video::before{
    content: '\f167';
    position: absolute;
    right: 0;
    top:0;
    color:red;
    font-size: 1.5em;
    border-radius: 0 0 0 10px;
    background: var(--white);
    padding: 3px 4px;
    font-family: 'Font Awesome 6 Brands';
}
.video-and-image span.cover{
    border: 3px solid var(--hard-yellow-theme);
}
.video-and-image span.cover::before{
    position: absolute;
    content:'Cover';
    background: var(--hard-yellow-theme);
    top:0;
    left:0;
    padding: 5px;
    color: #111;
    border-radius: 0 0 10px 0;
    pointer-events: none;
}
.video-and-image span.selected::after{
    position: absolute;
    content: '';
    inset:0;
    pointer-events: none;
    outline: 3px solid var(--info);
}
.video-and-image span.add-img{
    box-sizing: border-box;
    border: 5px solid var(--main-theme-color);
    position: relative;
    color:var(--main-theme-color);
}
.video-and-image span.add-img::before{
    content:'\2b';
    font-family: 'font awesome';
    font-size: 5em;
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    margin:auto;
    color: inherit;
}
.video-and-image .add-img:hover{
    border: 5px solid var(--main-theme-color-hover);
    color:var(--main-theme-color-hover);

}
.add-recipe-input {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap:7px;
}
.ingredient-box-input {
    border: 8px solid rgba(250, 248, 248, 0.5);
    align-self: stretch;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    min-height: 40px;
    flex-shrink: 0;
    overflow: hidden;
}
.ingredient-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
}
.instruction-box-input {
    border: 8px solid rgba(250, 248, 248, 0.5);
    background-color: #faf8f8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.instruction-box-input,
.pre-box-input{
    align-self: stretch;
    position: relative;
}
.label {
    font-weight: 700;
    display: inline-block;
}
.pre-box-input {
    border: 4px solid rgba(250, 248, 248, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    min-height: 40px;
    flex-shrink: 0;
    overflow: hidden;
}
.add-recipe-input,
.section-div,
.time-to-cook-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.add-recipe-input {
    flex: 1;
    flex-direction: column;
    row-gap: 13px;
}
.time-to-cook-div {

}
.section-div,
.time-to-cook-div {
    align-self: stretch;
    flex-direction: row;
    padding: 5px 0;
    box-sizing: border-box;
}
.section-div {
    flex: 1;
    flex-direction: column;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    gap: 22px;
    min-width: 450px;
    max-width: 600px;
}
.section-div > div {
    align-self: center;
}

.cook2-main {
    background-color: #f7fafc;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: 1em;
    color: #000;
    font-family: Gelasio;
    background: var(--yellow-theme-75);
}
.add-recipedone-main,
.cook2-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div[id^=item]
{
    background: var(--yellow-theme);
    border-radius: 10px;
}
div[id^=item] img {
    width: 3.5em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background: var(--white);
    aspect-ratio:1/1;
}
div[id^=item] input {
    background: none;
    border: none;
    text-transform: capitalize;
    color:#000;
    font-weight: bold;
}
div[id^=item] .item-trashbin {
    aspect-ratio:1/1;
    background: var(--pink-theme);
    display: flex;
    align-items: center;
}
div[id^=item] .item-trashbin:hover {
    outline-color: var(--brown-theme-75);

}
div[id^=inst]{

}
div[id^=inst] .inst-img{
    width: 3.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--white);
    aspect-ratio:1/1;
    
}
div[id^=inst] .inst-img img{
    position: absolute;
    inset:0;
    
}