html, body {
}
body {
    margin: 0;
    line-height: normal;
}
body > * {
    font-size: 16px;
}
.create-recipe-b {
    display: inline-block;
    translate: 0.5em 0;
}
.text-h2 {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
}
.text-h2 i {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.text-h2 i:hover {
    --color: lightgray;
    box-shadow: 0 0px 0 5px var(--color);
    background: var(--color);
}
.text-h2 i::before {

}
.create-recipe-div {
    position: relative;
    display: flex;
    align-items: center;
}
.save-b2 {
    font-family: Inter;
    color: #fff;
    font-size: 0.8em;
}
.save-button {
    cursor: pointer;
    border: 0;
    background-color: #db5a42;
    border-radius: 20px;
    display: flex;
    padding: 10px 1.2em;
    margin-right: 15px;
}
.create-recipe-main {
    position: sticky;
    top: 40px;
    font-size: 20px;
    z-index: 1;
    background: #fff;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    padding: 40px 65px;
    box-sizing: border-box;
    justify-content: space-between;
    text-align: left;
    font-size: 24px;
    min-width: 450px;
    max-width: 600px;
    color: #000;
    font-family: Inter;
}

.title-div,
.input {
    align-self: stretch;
    flex-shrink: 0;
}
.input {
    border: 0;
    background-color: #fff;
    position: relative;
    min-height: 40px;
    overflow: hidden;
    background: #fff;
}


.title-div {
    display: flex;
    flex-direction: column;
}

.description-button {
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    border: 0;
    padding: 6px 10px;
    background-color: var(--side-theme-color);
    border-radius: 40px;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    background: #f1b0b7 linear-gradient(var(--hard-yellow-theme-50) 30%,transparent);
    color:inherit;
    gap:10px;
}
.description-button:hover {
    outline:3px solid var(--yellow-theme-75)
}
.vector-icon2 {
    margin: 0 !important;
    width: 35px;
    aspect-ratio:45/40;
}


.label {
    align-self: stretch;
    position: relative;
}

.boxdes-textarea {
    background-color: #fff;
    min-height: calc(600px / 12 * 2);
    height:fit-content;
    max-height: 1000px;
    resize: vertical;
    flex:unset;
    overflow-x: hidden;
}
.display-image{
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 4px #00000025;
}
.display-image :is(.image,.video){
    background: var(--side-theme-color) no-repeat ;
    width: 100%;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 2px inset var(--pink-theme);
    aspect-ratio: 54/34;
    border-radius: inherit;
}
.display-image .image.cover{
    box-shadow: 0 0 0 2px inset var(--hard-yellow-theme);
}
.display-image .display-image-options {
    position: absolute;
    bottom:2%;
    left:0;
    right:0;
}
.display-image #remove-image{
    align-items: center;
    padding: 7px;
    margin-left: 1em;
    background: white;
    border: 1px solid lightgray;
    font-size: 1em;
    border-radius: 50%;
}
.video-and-image  {
    position: relative;
    width: 100%;
    height: 50px;
    aspect-ratio:12/2;
}
.video-and-image  {
    gap: 10px;
    z-index: 0;
    display: flex;
}
.video-and-image span{
    aspect-ratio:1;
    font-family: 'Gelasio';
    gap:2em;
    border-width: 2px;
    box-shadow: 0 0 0 0 inset #00000000;
    background: var(--white);
    border:2px solid var(--pink-theme);
    transition: 0.3s;
    position: relative;
    background-size: cover;
    background-repeat:  no-repeat;
    background-position: center;
}
.video-and-image is(span, span::before, span::after){
    transition: 0.3s;
}
.video-and-image span:has(div){
    background:white;
}

.video-and-image span.video{
    border: 3px solid var(--yellow-theme);
}
.video-and-image span.video::before{
    content: '\f167';
    position: absolute;
    right: 0;
    top:0;
    color:red;
    font-size: 1.5em;
    border-radius: 0 0 0 10px;
    background: var(--white);
    padding: 3px 4px;
    font-family: 'Font Awesome 6 Brands';
}
.video-and-image span.cover{
    border: 3px solid var(--hard-yellow-theme);
}
.video-and-image span.cover::before{
    position: absolute;
    content:'Cover';
    transform-origin: top left;
    background: var(--hard-yellow-theme);
    top:0;
    left:0;
    padding: 5px;
    color: #111;
    border-radius: 0 0 10px 0;
    pointer-events: none;
}
.video-and-image span.selected{
    border:none;
}
.video-and-image span.selected::after{
    position: absolute;
    content: '';
    inset:0;
    pointer-events: none;
    border: 3px solid var(--success);
    box-shadow: 0 -10px 10px 0 inset var(--success);

}
.video-and-image span.video.selected::before{
    background: var(--success);
}
.video-and-image span.cover.selected::before{
    background: var(--success);
}
.video-and-image span.add-img{
    box-sizing: border-box;
    border: 5px solid var(--main-theme-color);
    position: relative;
    color:var(--main-theme-color);
}
.video-and-image span.add-img::before{
    content:'\2b';
    font-family: 'font awesome';
    font-size: 5em;
    position: absolute;
    top:45%;
    left:50%;
    translate: -50% -50%;
    margin:auto;
    color: inherit;
}
.video-and-image .add-img:hover{
    border: 5px solid var(--main-theme-color-hover);
    color:var(--main-theme-color-hover);

}
.add-recipe-input {
    display: flex;
    flex-direction: column;
    row-gap:7px;
}
.ingredient-box-input {
    border: 8px solid rgba(250, 248, 248, 0.5);
    align-self: stretch;
    position: relative;
    box-sizing: border-box;
    min-height: 40px;
    flex-shrink: 0;
    overflow: hidden;
}
.ingredient-div {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
}
.instruction-box-input {
    background-color: #faf8f8;
    box-sizing: border-box;
    flex:unset;
    aspect-ratio:12/2;
}
.instruction-box-input,
.pre-box-input{
    align-self: stretch;
    position: relative;
    height: 38px;
}
.label {
    font-weight: 700;
    display: inline-block;
}

.pre-box-input {
    border: 4px solid rgba(250, 248, 248, 0.5);
    box-sizing: border-box;
    min-height: 40px;
    flex-shrink: 0;
    overflow: hidden;
    padding-left: 76px;
    position:relative;
}
.add-recipe-input:has(>.pre-box-input):before {
    content: 'Minute :';
    position:absolute;
    z-index: 1;
    left: 30px;
    bottom: 10px;
}

.add-recipe-input,
.section-div,
.time-to-cook-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.add-recipe-input {
    flex: 1;
    flex-direction: column;
    row-gap: 13px;
}
.time-to-cook-div {

}
.section-div,
.time-to-cook-div {
    align-self: stretch;
    flex-direction: row;
    padding: 5px 0;
    box-sizing: border-box;
}
.section-div {
    flex: 1;
    flex-direction: column;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    gap: 22px;
    min-width: 450px;
    max-width: 600px;
}
.section-div > div {
    align-self: center;
}


.add-recipedone-main,
.cook2-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cook2-main {
    background-color: #fff;
    box-sizing: border-box;
    flex-shrink: 0;
    text-align: left;
    font-size: 1em;
    width: 700px;
    color: #000;
    font-family: Gelasio;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;

    box-shadow:0 0 12px -4px #ff00ff25;
}

div#item{
    display: none;
}
div[id^=item]
{
    display: flex;
    border-radius: 1000px;
    font-size: 0.85em;
}
div[id^=item] img {
    width: 3.5em;
    border-radius: inherit;
    background: var(--white);
    aspect-ratio:1/1;
    margin:3px;
}
div[id^=item] input {
    background: none;
    border: none;
    color:#000;
    font-weight: bold;
}
:is(div[id^=item],div[id^=inst]) .item-trashbin {
    aspect-ratio:1/1;
    background: var(--pink-theme);
    display: flex;
    align-items: center;
}
:is(div[id^=item],div[id^=inst]) [readonly] {
    box-shadow: unset;
    border:unset;
    outline: unset;
}
div[id^=item] .item-trashbin:hover {
    outline-color: var(--brown-theme-75);

}
#inst{
    display: none;
}
div[id^=inst]{
    display: flex;
    flex-wrap: wrap;
}
div[id^=inst] .inst-img{
    width: 3.5em;
    border-radius: inherit;
    background: var(--white);
    aspect-ratio:1/1;
    position: relative;
    background-position: center;
    background-size: cover;
}
div[id^=inst] .inst-img img[src]{
    position: absolute;
    left:0;
    right:0;
    top:0;

    width:100%;
}
div[id^=inst] [id^=inst-desc] {
    background: none;
    border: none;
    color:#000;
    box-shadow: none;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 400;
    margin: 5px 0;
}
:is(input,textarea){
    --main:lightgray;
    border-radius: 5px;
    outline: 0px ridge transparent;
    background: white;
    border:none;
    box-shadow: 0 3px 3px 0px var(--main);
}
:is(input,textarea):focus{
    outline: 3px ridge var(--main);
    outline-style: solid;
    transition: outline 0.3s;
}
#ingredient {
    z-index:3;
}
#ingredient .ingredient-amount-suggestion{
    z-index:1;
}
#ingredient span.list-group-item{
    width: fit-content;
    min-width: 105%;
    white-space: nowrap;
}
#instruction textarea{
    height:5em;
    margin: 0;
    border: 0;
    display: flex;
    align-items: center;
    min-height: 2.5em;
}
#instruction .accept-input {
    aspect-ratio: 1/1;
    margin-bottom: auto;
    color:var(--success);
}
div[id$=container] input{
    outline: none;
}
:is(#detail, #img-box) :is(input,textarea) {
    outline: none;
    box-shadow: none;
}
:is(#detail, #img-box) {
    font-family: 'Gelasio';
    z-index: 500;
}
:is(#detail, #img-box) .gray-box{
    position: fixed;
    background: #55555525;
    inset:0;
    z-index:1;
    width: 100%;
    height:100%;
}
:is(#detail, #img-box) .container{
    position: fixed;
    inset:0;
    z-index:1;
    background: #fff;
    overflow-y: scroll;
    font-family: 'Inter';
    max-height:85vh;
    margin: auto;
}
:is(#detail, #img-box) .container :is(.cancel-btn , .save-btn, .change-img-btn){
    background: white;
    outline: 2px solid var(--dark);
    padding: 7px 10px;
    text-align: center;
    cursor: pointer;
}
:is(#detail, #img-box) .container .change-img-btn{
    font-size: 0.85em;
}
:is(#detail, #img-box) .container .save-btn{
    background: var(--success);
    color:#fff;
    outline: 2px solid var(--dark);

}
[id$=container]> div{
    margin-bottom: 10px;
}
#img-box input {
    border: 3px solid #00000025;
}

body:has( :is(#detail, #img-box):not(.d-none)) {
    overflow:hidden;
}
.g_id_signin img {
    width: 100%;
}
@media (min-width: 768px){
    :is(#detail, #img-box) .container{
        top: 15vh;
        bottom: 5vh;
        height: fit-content;
    }
}

@media (min-width: 768px){
    :is(#detail, #img-box) .container{
        top: 15vh;
        bottom: 5vh;
        height: fit-content;
    }
}
