@keyframes appear {
    0% {
        display:none;
        height:0;
    }
    0.1% {
        display:none;
        height:unset;
    }

    100% {
        display: block;
    }
}

@keyframes mymove {
    0%   {
        top: 0px;
    }
    25%  {
        top: 200px;
    }
    75%  {
        top: 50px;
    }
    100% {
        top: 100px;
    }
}
.valid, .invalid{
    transition: 0.3s;
    border: 3px solid transparent;
}
.valid {
    border-color: var(--success);
}
.invalid {
    border-color: var(--danger);
}
[class^=hover] {
    transition:0.3s;
    cursor: pointer;
}
[class~=-btn],[class~=-button] {
    cursor: pointer;
}
.hover-highlight:hover {
    box-shadow: 0 4px 4px 0 #00000025;
    translate:0 -2px;
}
.hover-button-1:hover{
    box-shadow: 0 0 400px inset #00000025;
}
.hover-button-1:active{
    box-shadow: 0 0 400px inset #00000050;
}
.hover-button-2:hover{
    box-shadow: 0 -10px 10px 0 inset var(--brown-theme-50);
}
.hover-button-2:active{
    box-shadow: 0 -15px 15px 0 inset var(--brown-theme-50);

}
