:root {
  --main-theme-color: #DB5A42;
  --main-theme-color-hover: #c22e14;
  --alt-theme-color: #e3a587;
  --side-theme-color: #FFFFFF;
  --main-title-color: #000000;
  --web-background-color: #F7FAFC;
  --border-theme-color: #9c9c9c;
}

/* main */
body {
  background-color: var(--web-background-color) !important;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.community {
  background-color: var(--web-background-color);
  margin: 40px auto 0;
  gap: 45px;
  max-width: 1920px;
  font-family: Inter;
}

#newest {
  margin-bottom: 40px;
}

.community-section {
  border-radius: 20px;
  width: 80%;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.title-container {
  display: flex;
  padding: 20px 30px;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.seemore {
  border-radius: 20px !important;
  border: 1px solid var(--main-theme-color) !important;
  color: var(--main-theme-color) !important;
  font-family: Gelasio;
}


.recipe-list {
  width: 100%;
  margin-left: 0 !important;
  margin-top: 5px;
  transition: 0.3s;
}

.recipe {
  border-radius: 20px;
  transition: all 1s ease;
  margin-bottom: 15px;
}

.img-container {
  position: relative;
  font-size: 14px;
}

.recipe-img {
  border-radius: 10px;
  max-width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.recipe-img:hover {
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.bookmark {
  cursor: pointer;
  border-radius: 10px 0 10px 0;
  padding: 5px 8px;
  position: absolute;
  background-color: var(--main-theme-color);
  opacity: 0.9;
  color: var(--side-theme-color);
  top: 0;
  left: 0;
}

.react {
  width: 100%;
  position: absolute;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  /* top: 30px; */
  bottom: 0px;
}

.recipe-name {
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 500;
  padding-top: 5px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

}

.recipe-author {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7) !important;
}

.recipe-author a {
  color: inherit;
  display: block;
}
.recipe-author a:hover {
  color: inherit;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {
  .community-section {
    width: 95%;
  }

  .seemore {
    font-size: 10px !important;
  }
  .seemore:hover{
    background-color: #c5513d;
    box-shadow: 0 0 0 2px var(--main-theme-color);
    color: var(--side-theme-color);
    transition-delay: 0s;
  }
  .title-container {
    padding: 15px 20px;
  }

  .title {
    font-size: 20px;
  }

  .react {
    font-size: 9px;
  }
  .paging{
      text-align: center;
      background-color: transparent;
      color: var(--main-theme-color);
      font-size: 12px;
      cursor: pointer;
      position: relative;
  }
  .paging.active:hover{
      background-color: #FFC85C;
      color: 
  }
}