:root {
    --main-theme-color: #DB5A42;
    --main-theme-color-hover: #c22e14;
    --side-theme-color: #FFFFFF;
    --main-title-color: #000000;
    --web-background-color: #F7FAFC;
}
*{
    font-family: Gelasio;
}
.header-container {
    min-height: 60px;
    position: sticky;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(79, 79, 186, 0.06);
    width: 100%;
    z-index: 1;
    font-size: 16px;
    color: var(--main-title-color);
    flex-wrap: wrap;
    display: flex;
}

/* header left */
.header-logo {
    
    width: 100%;
    display: flex;
}

.header-links {
    display: flex;
    border-spacing: initial;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-link {
    cursor: pointer;
    text-decoration: none !important;
    color: #000;
    text-align: center;
}

.header-link.active {
    color: var(--main-theme-color);
}

.header-link:not(.active):hover {
    color: var(--main-theme-color-hover);
    font-weight: 500;
}

/* Header right */
.searchbar {
    display: flex;
    min-width: 100px;
    border-radius: 100px;
    border: 1px solid #000;
    gap: 5px;
    padding: 8px 20px;
}

.searchbar-icon{
    color: var(--main-theme-color);
    margin-left: 8px;
    margin-right: 8px;
}

.searchbar-input {
    border: 0;
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    outline: 0;
}

.header>[class^=header] {
    display: flex;
    row-gap: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-notification {
    color: var(--main-theme-color);
    margin-left: 16px;
    font-size: 24px;
}
.header-button {
    display: flex;
    height: max-content;
    padding: 8px;
    margin: auto 16px;
    /* justify-content: center; */
    align-items: center;
    background: #fff;
    box-shadow: 0 0 0 1px #c5513d;
    border-radius: 25px;
    transition: 0.2s;
    color: #c5513d;
}

.header-button-detail {
    width: fit-content;
}

.header-button:hover {
    background: #c5513d;
    box-shadow: 0 0 0 2px #c5513d;
    color: #fff;
}

.header-button.active,
.header-button.active:focus {
    color: #fff;
    background: #c5513d;

}
@media (max-width:996px) {
    .group-div {
        justify-content: space-around;
    }
}

@media (max-width:767px) {
    .header-logo img {
        margin: auto;
        width: 50% !important;
    }
    .header-right {
        margin-bottom: 8px;
    }
}