@import "animation.css";
:root {
    --main-theme-color: #DB5A42;
    --main-theme-color-hover: #c22e14;
    --side-theme-color: #FFFFFF;
    --main-title-color: #000000;
    --web-background-color: #F7FAFC;
}
*{
    font-family: Gelasio;
}
.header-container {
    min-height: 60px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(79, 79, 186, 0.06);
    width: 100%;
    font-size: 16px;
    color: var(--main-title-color);
    flex-wrap: wrap;
    display: flex;
    row-gap:1em;
}

/* header left */
.header-logo img {

    width: 120px;
    display: flex;
}

.header-links {
    display: flex;
    border-spacing: initial;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-link {
    cursor: pointer;
    text-decoration: none !important;
    color: #000;
    text-align: center;
}

.header-link.active {
    color: var(--main-theme-color);
}

.header-link:not(.active):hover {
    color: var(--main-theme-color-hover);
    font-weight: 500;
}

/* Header right */
.searchbar {
    display: flex;
    /*max-width: 250px !important;*/
    border-radius: 100px;
    border: 1px solid #000;
    gap: 5px;
    padding: 8px 20px;
}

.searchbar-icon{
    color: var(--main-theme-color);
    margin-left: 8px;
    margin-right: 8px;
}

.searchbar-input {
    border: 0;
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    outline: 0;
}

.header>[class^=header] {
    display: flex;
    row-gap: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-notification {
    color: var(--main-theme-color);
    margin: 0 16px;
    font-size: 24px;
}

.header-user {
    --transition-time: 0.1s;
    display: flex;
    padding: 6px;
    margin: 0 ;
    cursor: pointer;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 0 1px #c5513d;
    border-radius: 25px;
    transition: var(--transition-time);
    color: #c5513d;
    transition-delay: var(--transition-time);
    white-space: nowrap;
}
.header-user:hover {
    background: #c5513d;
    box-shadow: 0 0 0 2px var(--main-theme-color);
    color: #fff;
    transition-delay: 0s;
}
#user_avatar {
    right:5px;
    top:0;
    bottom:0;
    width: 35px;
    box-sizing: border-box;
    border: 1px #ccc groove;
}


.header-user:has( .header-user-button ):hover{
    border-radius: 25px 25px 0 0 ;
}
.header-user .header-user-button {
    color: inherit;
    min-width: 200px;
    text-decoration: none;
}
.header-user.active,
.header-user.active:focus {
    color: #fff;
    background: #c5513d;
}
.header-user .header-user_content {
    transition: all var(--transition-time), box-shadow 0s , border 0s, top 0s;
    transform-origin: top center;
    scale: 1 1;
    top:-1000%;
    width: 250px;
    right: 0px;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 2px var(--main-theme-color);
    transition-delay:0;
}
.header-user:hover .header-user_content {
    scale:1 1;
    top:100%;
    transition-delay: var(--transition-time);
}
.header-user .header-user_content> * {
    scale: 1 0;
    transform-origin: top center;
    transition-delay: var(--transition-time);
    transition: var(--transition-time);
}
.header-user:hover .header-user_content> * {
    scale: 1 1;
}
.header-user .header-user_content .list-group-item{
    padding: 6px 10px;
}
.header-user .header-user_content .list-group-item:hover{
    background: #ddd;
    transition: calc(var(--transition-time) *  8);
}

@media (max-width:996px) {
    .group-div {
        justify-content: space-around;
    }
    .header-logo img {
        width: 110px;
    }
}

@media (max-width:767px) {
    .header-container {
        position: unset;

    }
    .header-links {
        font-size: 22px;
    }
    .header-logo img {
        /* margin: auto;
        width: 25% !important; */
        display: none;
    }
    .header-right {
        /* margin-bottom: 8px; */
    }
}
