/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 23, 2022, 7:52:23 AM
    Author     : Admin
*/


.header-button,.header-button:focus {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 0 1px #c5513d;
    border-radius: 25px;
    transition: background 1s ,color 0.2s;
    color: #c5513d!important;
}
.header-button:hover {
    background: #c5513d;
    box-shadow: 0 0 0 2px #c5513d;
    color:#fff!important;
}
.header-button.active, .header-button.active:focus{
    color:#fff!important;
    background: #c5513d;

}

.header-logo {

    text-decoration: none;
    position: relative;
    flex-shrink: 0;
    width: fit-content;
}
.header-logo img {
    aspect-ratio: 318/106;
    transform-origin: center;
}
.header-links {
    display: flex;
    border-spacing: initial;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-link {
    border-spacing: initial;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:#000;
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}
.header-link.active{
    color: #db5a42;
}
.header-link:not(.active):hover {
    color:#000;
}
.header-link:active {
    font-weight: 700;
    font-family: Gelasio;
}
.header-link1,
.header-link2,
.header-link3 {
    color: inherit;
}
.header-link1:hover {
    color: #e3a587;
}
.header-link2:hover {
    background: linear-gradient(#fff, #fff), #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.searchbar{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.searchbar-icon,
.searchbar-input {
    position: relative;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}
.searchbar-input {
    border: 0;
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    outline: 0;
}
.searchbar-div {
    display: flex;
    box-sizing: border-box;
    position: relative;
}
.searchbar-div {
    border-radius: 100px;
    border: 1px solid #000;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    padding: 8px 20px;
}


.group-div {
    position: relative;
    flex-shrink: 0;
}
.header  > [class^=header]{
    display: flex;
    row-gap: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header,
.logindone-section {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.header {
    margin: 0 !important;
    position: fixed;
    top: 2px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 12px rgb(79 79 255 / 6%), 0 -60px 0 60px #fff ;
    width: 100%;
    height:60px;
    flex-direction: row;
    padding: 3px 0;
    row-gap: 10px;
    z-index: 1;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Gelasio;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: content-box;
}
.logindone-section {
    position: relative;
    background-color: #f7fafc;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 100%;
    flex-direction: column;
    gap: 0;
}
.header-container{
    height: 60px;
}
@media (max-width:996px){

    .header-logo {
        padding-top: 10px;
        width: 100%;
        display: flex;
    }

    .header-link{
        border: 1px solid var(--gray);
    }
    .group-div{
        justify-content: space-around!important;
    }
    .header {
        position: static;
        height: auto!important;
        padding-bottom: 10px;
    }
    .header-container{
        height:auto!important;
    }
}

@media (max-width:767px){
    .header-logo img{
        margin:auto;
        width: 50%!important;

    }
}