@import "bootstrap-4.3.1.min.css";
*{
    font-family: Gelasio;
}
body {
    margin: 0;
    line-height: normal;
}
.join-bakeryrecipe-div,
.joining-bakeryrecipe-is-quick {
    position: relative;
    font-size: 2em;
    font-family: Gelasio;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #444;
    font-weight: bolder;
}
.joining-bakeryrecipe-is-quick {
    font-size: inherit;
    width: 523px;
    color: #555;
}
.email-input,
.firstname-input {
    border: 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 11px 0;
    flex-shrink: 0;
    text-align: center;
    font-size: 1.2em;
}
.firstname-input {
    width: 100%;
}
.login-with-api{
    display: flex;
    justify-content: space-around;
}
.google{
    border: 1px solid #0062cc;
    background: #fff;
    width: 45px;
    aspect-ratio:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 45px;
    transition: 2s;
    overflow: hidden;
    position: relative;

}
.google img {
    width: 50%;
    z-index: 1;
    margin: auto;
    border-radius: 50%;

}
.google::before{
    content: '';
    position: absolute;
    inset:0;
    transition: all 0.1s ;
    border-radius: 50%;
    background: blue;
    opacity: 0.6;
    translate: 0 100%;
}
.google:hover:before{
    background: blue;
    translate: 0 0;
}
.name-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

.submit-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #db5a42;
    position: relative;
    width: 100%;
    padding:11px 0 ;
    flex-shrink: 0;
    overflow: hidden;
    outline: none;
}
.submit-button,
.submit-button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.submit-button:active {
    background-color: #c5513d;
}
.register-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
}
.line-div {
    position: relative;
    border-right: 2px solid #fff;
    box-sizing: border-box;
    width: 2px;
    height: 100%;
    flex-shrink: 0;
}
.email-input1,
.password-input1 {
    border: 0;
    background-color: #fff;
    position: relative;
    width: 523px;
    height: 52px;
    flex-shrink: 0;
    overflow: hidden;
    font-size: 24px;
    text-align: center;
    font-family: san-serif;
}
form *:is( input , button ){
    border-radius:10px;
}
.email-input1 {
    box-shadow: 0 4px 4px rgba(0 0 0 / 0.25);
    color: #000000;
}
.password-input1 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.login-b, .join-b {
    font-size: 32px;
    display: inline-block;
    font-family: Gelasio;
    color: #fff;
    
    text-align: center;
}
.submit-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #db5a42;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 523px;
    height: 68px;
    flex-shrink: 0;
    overflow: hidden;
}
.submit-button1:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(219, 90, 66, 0.75);
}
.submit-button1:active {
    background-color: #c5513d;
}
.image-14-icon {
    position: relative;
    width: 338.91px;
    height: 69.88px;
    flex-shrink: 0;
    object-fit: cover;
}
.login-form,
.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}
.section-div {
    align-self: stretch;
    background-color: #e3a587;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    height: 750px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 40px 0;
    box-sizing: border-box;
    gap: 75px;
    z-index: 0;
    flex-wrap: wrap;
    margin: 1em 0 0;
    align-items: start;
}
.header-logo {
    text-decoration: none;
    position: relative;
    flex-shrink: 0;
    width: fit-content;
}
.header-logo img {
    aspect-ratio: 318/106;
}
.header-links {
    display: flex;
    border-spacing: initial;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header-link {
    border-spacing: initial;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:#000;
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}
.header-link.active{
    color: #db5a42;
}
.header-link:not(.active):hover {
    color:#000;
}
.header-link:active {
    font-weight: 700;
    font-family: Gelasio;
}
.header-link1,
.header-link2,
.header-link3 {
    color: inherit;
}
.header-link1:hover {
    color: #e3a587;
}
.header-link2:hover {
    background: linear-gradient(#fff, #fff), #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.searchbar{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.searchbar-icon,
.searchbar-input {
    position: relative;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}
.searchbar-input {
    border: 0;
    background-color: transparent;
    width: 300px;
    height: 100%;
    font-size: 16px;
    overflow: hidden;
    outline: 0;
}
.header-button:hover,
.searchbar-div {
    display: flex;
    box-sizing: border-box;
    position: relative;
}
.searchbar-div {
    border-radius: 100px;
    border: 1px solid #000;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    padding: 8px 20px;
}
.sign-up-div {
    position: absolute;
    top: 8.25px;
    left: 15.5px;
    font-weight: 500;
    display: inline-block;
}
.log-in-div {
    color:#db5a42;
}
.sign-up-div{
    color:#fff;
}
.header-button {
    text-decoration: none;
    position: relative;
    border-radius: 20px;
    background-color: #db5a42;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}
.header-button:hover {
    background-color: #fff;
    width: 89px;
    border: 1px solid #db5a42;
    
    font-weight: 400;
}
.header-button:hover div{
    color: #db5a42!important;
}
.header-button,
.header-button:active {
    transition: background 0.3s;
    font-weight: 400;
}
.header-button:active {
    box-shadow: 0 0 0 2px;
}
[class^=header-button] div {
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: inline-block;
}
.header-button1 {
    text-decoration: none;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #db5a42;
    box-sizing: border-box;
    height: 37px;
    overflow: hidden;
    cursor: pointer;
    color: #db5a42;
    transition: background 0.3s;
}
.header-button1:hover {
    background-color: #db5a42;
    color: #db5a42;
}
.header-button1:hover div{
    color: #fff!important;
}
.header-button1:active {
    cursor: auto;
    color: #fff;
    box-shadow: 0 0 0 2px #db5a42;
}
.group-div {
    position: relative;
    width: 192px;
    height: 37.5px;
    flex-shrink: 0;
    color: #fff;
}
.header  > [class^=header]{
    display: flex;
    gap:inherit;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header,
.logindone-section {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.header {
    margin: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 12px rgb(79 79 255 / 6%);
    width: 100%;
    height:60px;
    flex-direction: row;
    padding: 3px 0;
    gap: 10px;
    z-index: 1;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Gelasio;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logindone-section {
    position: relative;
    background-color: #f7fafc;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.01);
    width: 100%;
    flex-direction: column;

}
.header-container{
    height: 60px;
}
@media (max-width:768px){
    
    .header-logo {
        padding-top: 100px;
        width: 100%;
        display: flex;
    }
    .header-logo img{
        margin:auto;
        width: 50%!important;
        
    }
    [class^=header-button] {
        flex-basis: 33%;
    }
    .header-link{
        border: 1px solid var(--gray);
    }
    .group-div{
        justify-content: space-around!important;
    }
    .header {
        position: static;
        height: auto;
    }
    .header-container{
        height:auto;
    }
    .section-div{
        font-size: 12px;
    }
    .line-div {
        display: none;
    }
}