@import "web/bootstrap-4.3.1.min.css";
html{
    font-size: 16px;
}
*,body {
    font-family: Gelasio;
}
body {
    min-height: 100vh;
}
.section {
    background: gray;
    position: relative;
    top:0;
    min-height: 90vh;
    display: flex;
    align-content: stretch;
    align-items: center;
}
.section::before {
    content:'';
    opacity: 0.7;
    position: absolute;
    inset:0;
    background-image: url(../images/logo/login-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: contrast(150%) brightness(90%) blur(1%);
}
#form-object, #register{
    box-sizing: border-box;
    border-radius: 5px;
}
#form-object :is(.login-form,.register-form){
    display: flex;
    row-gap: 1em;
    padding: 1em;
    background: white;
    border-radius: 15px !important;
    box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
    /*border: 2px solid var(--main-theme-color)*/
}
#form-object .invitation-text{
    font-size: 110%;

    text-align: center;
}
#form-object .invitation-text:first-line{
    font-size: 150%;

    font-weight: bold;
}
#form-object .input{
    background: inherit;

    --transition-time:0.5s;
}
#form-object .input::before{
    content: attr(placeholder);
    position: absolute;
    display: flex;
    padding: 0 1em;
    align-items: center;
    /* top: 22px; */
    left:1em;
    z-index: 2;
    translate: 0 -50%;
    width: fit-content;
    height: auto;
    color:inherit;
    transition: var(--transition-time) ease;
    pointer-events: none;
    background: inherit;
}
#form-object .input:focus-within, #form-object .input:has( input:not(:placeholder-shown),input.invalid){
    color: var(--main-theme-color-hover);
}
#form-object .input:focus-within:before,#form-object .input:has( input:not(:placeholder-shown)):before{
    position: absolute;
    display: flex;
    align-items: center;
    /* top: 0; */
    /*left:1em;*/
    translate:0 -50%;
    padding: 0 1em;
    width:auto;
    color: inherit;
}
#form-object .input input {
    border: 2px inset black ;
    padding: 8px 10px;
    position:relative;
    background: inherit;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px #000;
    outline: none;
    transition: var(--transition-time) ease;
}
#form-object .input input {
    color:#000;
    background: transparent;
    cursor: text;
}
#form-object .input .status{
    pointer-events: none;
    width: auto;
}
#form-object .input:focus-within input, #form-object .input:has( input:not(:placeholder-shown),input.invalid) input{
    box-shadow: 0 0 0 2px var(--main-theme-color-hover);
}
#form-object .input:has(input.valid){
    color:var(--green);
}
#form-object .input input.valid{
    box-shadow: 0 0 0 2px var(--green)!important;
}
#form-object .submit-button {
    background:  var(--main-theme-color);
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    transition: background 0.2s;
}
#form-object .submit-button:hover {
    background:  var(--main-theme-color-hover);
    opacity: 0.8;
}
#form-object .submit-button:active {
    background:  var(--main-theme-color-hover);
    opacity: 1;
}
#form-object .change-form{
    text-align: center;
    cursor:pointer;
}
#form-object .change-form:hover{
    text-decoration: underline;
}
#form-object form{
    position: relative;
    transition: 1s;
}
#credential_picker_container{
    width: auto;
    height: auto!important;
}