@import "web/bootstrap-4.3.1.min.css";

body {
    margin: 0;
    line-height: normal;
    background:  #e3a587;
}
.join-bakeryrecipe-div,
.joining-bakeryrecipe-is-quick {
    position: relative;
    font-size: 2em;
    font-family: Gelasio;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #444;
    font-weight: bolder;
}
.joining-bakeryrecipe-is-quick {
    font-size: inherit;
    width: 523px;
    color: #555;
}
.email-input,
.firstname-input {
    border: 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 11px 0;
    flex-shrink: 0;
    text-align: center;
    font-size: 1.2em;
}
.firstname-input {
    /* width: 100%; */
}
.login-with-api{
    display: flex;
    justify-content: space-around;
}
.google{
    border: 1px solid #0062cc;
    background: #fff;
    width: 45px;
    aspect-ratio:1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 45px;
    transition: 2s;
    overflow: hidden;
    position: relative;

}
.google img {
    position: absolute;
    width: 50%;
    inset:0;
    z-index: 1;
    margin: auto;
    border-radius: 50%;

}
.google::before{
    content: '';
    position: absolute;
    inset:0;
    transition: all 0.2s ease-in;
    border-radius: 50%;
    background: blue;
    opacity: 0.6;
    scale:2;
    translate: 0 200%;
}
.google:hover:before{
    background: blue;
    translate: 0 0;
}
.name-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 33px;
}

.submit-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #db5a42;
    position: relative;
    width: 100%;
    padding:11px 0 ;
    flex-shrink: 0;
    overflow: hidden;
    outline: none;
    font-size: 0.5em;
}
.submit-button{
    box-shadow: 0 4px 4px 0 rgba(0 0 0 / 0.25);
    color:#fff;
}
.submit-button:hover {
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 0.5);
}
.submit-button:active {
    background-color: #c5513d;
}
.register-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.line-div {
    min-height: 450px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    width: 0;
    background: #fff;
    flex-shrink: 0;
}
.email-input1,
.password-input1 {
    border: 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 1.2em;
    padding: 11px 0;
    text-align: center;
    font-family: san-serif;
}
.sign-up-button, .sign-in-button{
    background: #fff;
    border: 2px solid #db5a42;
    border-radius: 10px;
    color: #db5a42;
    text-align: center;
    padding: 0.5em 0;
    transition: background 0.2s;
}
*:is(.sign-up-button , .sign-in-button):hover{
    background: #db5a42;
    box-shadow: 0 0 0 2px #c5513d;
    color: #fff;
    cursor: pointer;
}
form *:is( input , button ){
    border-radius:10px;
    max-width: 500px;
}
form *:is( input , button ):hover, form *:is( input , button ):focus{
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 25%);
    outline: none;
}
.email-input1 {
    box-shadow: 0 4px 4px rgba(0 0 0 / 0.25);
    color: #000000;
}
.password-input1 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.login-b, .join-b {
    font-size: 1.5rem;
    display: inline-block;
    font-family: Gelasio;
    color: inherit;
    text-align: center;
}

.image-14-icon {
    position: relative;
    width: 338.91px;
    height: 69.88px;
    flex-shrink: 0;
    object-fit: cover;
}
.login-form,
.section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
}
.section-div {
    align-self: stretch;
    background-color: #e3a587;
    min-height: 500px;
    flex-shrink: 0;
    flex-direction: row;
    padding: 40px 0;
    box-sizing: border-box;
    z-index: 0;
    flex-wrap: wrap;
    align-items: start;
    position: relative;
    box-shadow: 0 0 0 2px #e3a587;
}