@import "universal.css";
:root {
    --main-theme-color: #DB5A42;
    --main-theme-color-hover: #c22e14;
    --side-theme-color: #FFFFFF;
    --main-title-color: #000000;
    --web-background-color: #F7FAFC;
    --border-theme-color: #9c9c9c;
}

.section-container {
    background-color: #f7fafc;
    width: 100%;
    padding-top: 60px;
    font-size: 28px;
    color: #000;
}

.section-profile {
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
    flex-direction: column;
    padding: 30px 0;
    gap: 30px;
}

.profile-header {
    width: 90%;
    margin: 0;
}

.avt-icon {
    box-sizing: border-box;
    padding: 0 !important;
    /* width: 120px; */
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid #EEE;
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
}

.follow {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}


.edit-profile-button {
    border: 1px solid #db5a42 !important;
    color: #db5a42 !important;
    border-radius: 20px !important;
    height: 40px;
    white-space: nowrap;
}

.input-button {
    margin-top: 20px;
    padding: 10px !important;
    border: 1.5px solid var(--main-theme-color);
    color: var(--main-theme-color);
    border-radius:1000px!important;
    width: 70%;
    transition: 0.3s;
}

.input-button:hover {
    background-color: var(--main-theme-color-hover);
    color: var(--side-theme-color);
}

.profile-activity {
    position: relative;
    border-bottom: 0.2px solid rgba(0,0,1,0.3);
    width: 600px;
    height: 45px;
    font-size: 24px;
}

.profile-activity b {
    position: absolute;
    top: 0px;
    left: 47px;
}

.activity-empty {
    padding: 60px 10px;
    font-size: 20px;
    opacity: 0.7;
    font-style: italic;
}
.profile-recipe {
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    width: 540px;
    padding: 20px 20px;
    font-size: 16px;
}

.recipe-header {
    margin-bottom: 10px;

}

.recipe-ava {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.recipe-text {
    /* text-align: justify; */
    margin-bottom: 10px;

}

.recipe-img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    aspect-ratio: 1;
    object-fit: cover;
}
#profile-information .recipe{

}
#profile-information .recipe img{
    max-width: 10%;
    min-width: 5em;
    aspect-ratio: 1;
    object-fit: cover;
}
/*//text ham d*/

.txtareaRp{
    width: 340px;
}
.card-body{
}

#textAreaExample{
    width: 638px;
}
#baseline{
    align-items: baseline;
}

.dropdown button{

    background: white;
}

.fa-ellipsis{
    font-size: 20px;
}
/*///button follow*/
.info-user  {
    display:  inline-flex;
    gap:5px;
    align-items: center;
}
.info-user span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0 5px;
}

.info-user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid var(--border-theme-color);
}

.btn-style1 {
    padding: 0.25rem 0.7rem ;
    background-color: var(--main-theme-color) ;
    color: var(--side-theme-color) ;
    border-radius: 20px ;
    text-align: center;
}


.btn-style1:hover {
    background-color: var(--main-theme-color-hover);
    color: var(--side-theme-color) ;
    border-radius: 20px ;
}
.btn-style1.button-Follower {
    background-color: var(--white);
    border: 1px solid var(--main-theme-color);
    color: #DB5A42;
}


/*css cua phan delete*/
#delete_confirm .content button{
    padding:  6px 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete_confirm button.delete{
    background: var(--main-theme-color);
    border:3px outset var(--main-theme-color);
    color:white;

    font-weight: bold;
}
#delete_confirm button.cancel{
    border:3px outset var(--main-theme-color);
    color:black;

    font-weight: bold;
}

.btn-report {
    background: var(--main-theme-color);
    border:1px solid var(--main-theme-color);
    color: white;
    border-radius: 10px;
}

.btn-report:hover {
    background: var(--main-theme-color-hover);
    color: white;
}