.section-container {
    background-color: #f7fafc;
    width: 100%;
    padding-top: 60px;
    font-size: 28px;
    color: #000;
}

.section-profile {
    max-width: 650px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
    flex-direction: column;
    padding: 30px 0;
    gap: 15px;
}

.profile-header {
    width: 90%;
    margin: 0;
}

.avt-icon {
    box-sizing: border-box;
    padding: 0 !important;
    /* width: 120px; */
    aspect-ratio: 1/1;
    border: 10px solid #EEE;
    border-radius: 50%;
}

.profile-name {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
}

.follow {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}


.edit-profile-button {
    border: 1px solid #db5a42 !important;
    color: #db5a42 !important;
    border-radius: 20px !important;
    height: 40px;
}

.input-button {
    margin-top: 20px;
    padding: 10px !important;
    border: 1px solid #d7d5d5 !important;
    color: #db5a42 !important;
    border-radius: 20px !important;
    width: 352px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-button:hover {
    background-color: rgba(255, 210, 117, 0.7);
}

.profile-activity {
    position: relative;
    border-bottom: 0.2px solid #000;
    width: 650px;
    height: 45px;
    font-size: 24px;
}

.profile-activity b {
    position: absolute;
    top: 0px;
    left: 47px;
}

.profile-recipe {
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    width: 560px;
    padding: 20px 20px;
    font-size: 16px;
}

.recipe-header {
    margin-bottom: 10px;

}

.recipe-ava {

    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.recipe-text {
    /* text-align: justify; */
    margin-bottom: 10px;

}

.recipe-img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    aspect-ratio: 1;
    object-fit: cover;
}
#profile-information .recipe{
    
}
#profile-information .recipe img{
    max-width: 10%;
    min-width: 5em;
    aspect-ratio: 1;
    object-fit: cover;
}
