body {
  margin: 0;
  line-height: normal;
}
.avatar-icon6 {
  position: relative;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  object-fit: cover;
}
.add-your-post1,
.div1 {
  position: relative;
  font-size: 10px;
  font-family: Inter;
  color: #e3a587;
  text-align: center;
  display: inline-block;
  z-index: 0;
}
.div1 {
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: 93px;
  font-size: 20px;
  color: #db5a42;
  z-index: 1;
}
.btn-button1,
.posting-section-div1 {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.btn-button1 {
  cursor: pointer;
  border: 1px solid #d7d5d5;
  background-color: transparent;
  position: relative;
  width: 280px;
  flex-shrink: 0;
  justify-content: center;
  gap: 20px;
  padding: 10px 12px 10px 15px;
}
.btn-button1:hover {
  background-color: rgba(255, 210, 117, 0.7);
  padding-top: 10px;
  box-sizing: border-box;
}
.btn-button1:active {
  background-color: rgba(232, 174, 104, 0.7);
}
.posting-section-div1 {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
  padding: 16px 14px;
  justify-content: flex-start;
  gap: 26px;
}
.shape-icon2 {
  position: relative;
  width: 16px;
  height: 16px;
}
.iconoptions-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23px;
  left: 344px;
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.h-a2,
.trnh-thng-bnh2 {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 147px;
  flex-shrink: 0;
}
.trnh-thng-bnh2 {
  font-weight: 700;
  color: inherit;
  height: 11px;
  cursor: pointer;
}
.trnh-thng-bnh2:hover {
  font-size: 11px;
  text-decoration: underline;
}
.h-a2 {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  height: 12px;
}
.h-a2:hover {
  cursor: pointer;
  text-decoration: underline;
}
.profile-name-div2 {
  position: absolute;
  top: 7px;
  left: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.avatar-icon7 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}
.user-info-div2 {
  position: relative;
  width: 370px;
  height: 54px;
  flex-shrink: 0;
  overflow: hidden;
}
.detail-div2,
.image-icon2 {
  position: absolute;
  left: 2px;
  width: 367px;
}
.image-icon2 {
  top: 59px;
  border-radius: 10px;
  height: 218px;
  object-fit: cover;
}
.detail-div2 {
  top: 3px;
  display: inline-block;
}
.user-post-div2,
.vector-icon2 {
  position: relative;
  flex-shrink: 0;
}
.user-post-div2 {
  width: 369px;
  height: 277px;
  overflow: hidden;
}
.vector-icon2 {
  width: 11.56px;
  height: 23px;
}
.save-b2 {
  position: relative;
  display: inline-block;
}
.save2 {
  text-decoration: none;
  border-radius: 15px;
  width: 100px;
  height: 23px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: inherit;
}
.save2:hover {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 0;
  box-sizing: border-box;
}
.save2:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.icon-eye2 {
  position: relative;
  width: 28.5px;
  height: 20px;
  flex-shrink: 0;
}
.view-a2,
.viewer-option-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-a2 {
  text-decoration: none;
  border-radius: 15px;
  width: 100px;
  height: 23px;
  flex-shrink: 0;
  gap: 4px;
  cursor: pointer;
  transition: 0.2s;
  color: inherit;
}
.view-a2:hover {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  padding-top: 0;
  box-sizing: border-box;
}
.view-a2:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.viewer-option-div2 {
  width: 367px;
  padding: 3px 0;
  box-sizing: border-box;
  gap: 50px;
  font-size: 14px;
  font-family: "Abhaya Libre";
}
.user_post,
.post-section-div1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.user_post {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  padding: 10px 13px;
  align-items: flex-start;
  gap: 10px;
}
.post-section-div1 {
  position: absolute;
  top: 0;
  left: 32px;
  width: 380px;
  height: 503px;
  padding: 0 0 25px;
  align-items: center;
  gap: 35px;
}
.iphone-13-pro-max-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1471px;
  overflow: hidden;
  text-align: left;
  font-size: 11px;
  color: #000;
  font-family: Inter;
}
