body {
  margin: 0;
  line-height: normal;
}
.saved-b {
  position: absolute;
  top: 40px;
  left: 70px;
  display: inline-block;
}
.frame-input,
.iconsearch {
  position: relative;
  width: 27px;
  height: 27px;
  flex-shrink: 0;
}
.frame-input {
  border: 0;
  background-color: transparent;
  width: 849px;
  height: 30px;
  overflow: hidden;
}
.frame-form {
  position: absolute;
  top: 99px;
  left: 70px;
  border-radius: 20px;
  border: 0.5px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 6px 20px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.frame-div1,
.frame-icon {
 
  overflow: hidden;
}
.frame-icon {
  top: 99px;
  left: 1015px;
  border-radius: 20px;
  width: 65px;
  height: 43px;
}
.frame-div1 {
  top: 0;
  left: 0;
  width: 1138px;
  height: 181px;
}
.img-icon {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 259px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.mooncake-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.mooncake,
.trnh-thng-bnh2 {
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.mooncake {
  color: inherit;
  width: 328px;
  height: 23px;
  flex-shrink: 0;
}
.trnh-thng-bnh2 {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}
.div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 27.5%;
  box-sizing: border-box;
  z-index: 0;
}
.img-icon1 {
  position: relative;
  border-radius: 20px;
  width: 100%;
  height: 259px;
  flex-shrink: 0;
  object-fit: cover;
}
.div2,
.div3,
.div4,
.div5,
.div6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 27.5%;
  box-sizing: border-box;
  z-index: 1;
}
.div3,
.div4,
.div5,
.div6 {
  z-index: 2;
}
.div4,
.div5,
.div6 {
  z-index: 3;
}
.div5,
.div6 {
  z-index: 4;
}
.div6 {
  z-index: 5;
}
.newest-div {
  top: 9px;
  left: 7px;
  display: inline-block;
  width: 58px;
  height: 25px;
  padding :10%;
}

.frame-div2,
.saved-item-div {

  box-sizing: border-box;
}
.frame-dip2 {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #000;
  width: 100px;
  height: 38px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 6;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
 
}
.saved-item-div {
  top: 181px;
  left: 0;
  width: 1138px;
  display: flex;
  flex-direction: row;
  padding: 48px 10px 16px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 24px;
  font-family: Gelasio;
}
.px-1-icon,
.section-div {
  position: relative;
  flex-shrink: 0;
}
.section-div {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
  width: 1138px;
  height: 909px;
  overflow: hidden;
  z-index: 0;
}
.px-1-icon {
  width: 159px;
  height: 53px;
  object-fit: cover;
}
.home-div1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.frame-div3 {
  position: relative;
  width: 44px;
  height: 20px;
  flex-shrink: 0;
}
.community-div,
.saved-div1 {
  position: relative;
  display: inline-block;
}
.saved-div1 {
  color: #db5a42;
}
.rectangle-icon,
.search-div1 {
  position: absolute;
  top: -0.25px;
  left: -0.25px;
  width: 277.5px;
  height: 42.5px;
}
.search-div1 {
  top: 10px;
  left: 55px;
  display: inline-block;
  width: 104px;
  height: 25px;
}
.iconsearch1 {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 27px;
  height: 27px;
}
.icon-bell,
.search-div {
  position: relative;
  flex-shrink: 0;
}
.search-div {
  width: 277px;
  height: 42px;
  color: rgba(0, 0, 0, 0.5);
}

.header-div,
.saved-div {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.saved-div {
  position: relative;
  background-color: #f7fafc;
  width: 100%;
  flex-direction: column;
  padding: 100px 0 0;
  gap: 56px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
.mid-div2{
    display: inline-block;
    margin-left: 8%;
}
.frame-dip2 .in-div{
    padding-left: 20px
}