body {
  margin: 0;
  line-height: normal;
}
.avatar-icon {
  position: relative;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  object-fit: cover;
}
.add-your-post,
.div {
  position: relative;
  font-size: 10px;
  font-family: Inter;
  color: #e3a587;
  text-align: center;
  display: inline-block;
  z-index: 0;
}
.div {
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: 93px;
  font-size: 20px;
  color: #db5a42;
  z-index: 1;
}
.btn-button,
.posting-section-div {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.btn-button {
  cursor: pointer;
  border: 1px solid #d7d5d5;
  background-color: transparent;
  position: relative;
  width: 280px;
  flex-shrink: 0;
  justify-content: center;
  gap: 20px;
  padding: 10px 12px 10px 15px;
}
.btn-button:hover {
  background-color: rgba(255, 210, 117, 0.7);
  padding-top: 10px;
  box-sizing: border-box;
}
.btn-button:active {
  background-color: rgba(232, 174, 104, 0.7);
}
.posting-section-div {
  align-self: stretch;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
  padding: 16px 14px;
  justify-content: flex-start;
  gap: 26px;
}
.shape-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.iconoptions-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 23px;
  left: 344px;
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.h-a,
.trnh-thng-bnh {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: 147px;
  flex-shrink: 0;
}
.trnh-thng-bnh {
  font-weight: 700;
  color: inherit;
  height: 11px;
  cursor: pointer;
}
.trnh-thng-bnh:hover {
  font-size: 11px;
  text-decoration: underline;
}
.h-a {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  height: 12px;
}
.h-a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.profile-name-div {
  position: absolute;
  top: 7px;
  left: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.avatar-icon1 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}
.user-info-div {
  position: relative;
  width: 370px;
  height: 44px;
  flex-shrink: 0;
  overflow: hidden;
}
.detail-div,
.image-icon {
  position: absolute;
  left: 2px;
  width: 367px;
}
.image-icon {
  top: 59px;
  border-radius: 10px;
  height: 218px;
  object-fit: cover;
}
.detail-div {
  top: 3px;
  display: inline-block;
}
.user-post-div,
.vector-icon {
  position: relative;
  flex-shrink: 0;
}
.user-post-div {
  width: 369px;
  height: 277px;
  overflow: hidden;
}
.vector-icon {
  width: 11.56px;
  height: 23px;
}
.save-b {
  position: relative;
  display: inline-block;
}
.save {
  text-decoration: none;
  border-radius: 15px;
  width: 100px;
  height: 23px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: inherit;
}
.save:hover {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 0;
  box-sizing: border-box;
}
.save:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.icon-eye {
  position: relative;
  width: 28.5px;
  height: 20px;
  flex-shrink: 0;
}
.view-a {
  text-decoration: none;
  border-radius: 15px;
  width: 100px;
  height: 23px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.2s;
  color: inherit;
}
.view-a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  padding-top: 0;
  box-sizing: border-box;
}
.view-a:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.post-div,
.post-section-div,
.viewer-option-div {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.viewer-option-div {
  width: 367px;
  flex-direction: row;
  padding: 3px 0;
  justify-content: center;
  gap: 50px;
  font-size: 14px;
  font-family: "Abhaya Libre";
}
.post-div,
.post-section-div {
  flex-direction: column;
  justify-content: flex-start;
}
.post-div {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
  padding: 10px 13px;
  gap: 10px;
}
.post-section-div {
  position: absolute;
  top: 0;
  left: 32px;
  width: 380px;
  height: 503px;
  padding: 0 0 25px;
  gap: 35px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 455px;
  height: 1544px;
}
.icon-cart,
.my-cart-b {
  position: relative;
  flex-shrink: 0;
}
.icon-cart {
  width: 57px;
  height: 45.91px;
}
.my-cart-b {
  display: inline-block;
  width: 118px;
}
.frame-div1 {
  margin: 0 !important;
  position: absolute;
  top: 203px;
  left: 38px;
  width: 211px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  z-index: 0;
}
.accounts-setting-b,
.icon-person {
  position: relative;
  width: 57px;
  height: 57px;
  flex-shrink: 0;
}
.accounts-setting-b {
  display: inline-block;
  width: 243px;
  height: 43px;
}
.frame-div2 {
  margin: 0 !important;
  position: absolute;
  top: 41px;
  left: 38px;
  width: 310px;
  height: 54px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  z-index: 1;
}
.icon-account-login {
  position: relative;
  width: 57px;
  height: 47.15px;
  flex-shrink: 0;
}
.log-out-b {
  position: relative;
  display: inline-block;
  width: 99px;
  flex-shrink: 0;
}
.frame-div3 {
  margin: 0 !important;
  position: absolute;
  top: 278px;
  left: 33px;
  width: 159.72px;
  height: 44.82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  z-index: 2;
}
.icon-bookmark,
.save-b2 {
  position: relative;
  flex-shrink: 0;
}
.icon-bookmark {
  width: 41.14px;
  height: 49px;
}
.save-b2 {
  display: inline-block;
  width: 62px;
}
.frame-div,
.frame-div4 {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
.frame-div4 {
  margin: 0 !important;
  top: 126px;
  left: 50px;
  width: 49px;
  height: 46px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  gap: 44px;
  z-index: 3;
}
.frame-div {
  top: 0;
  left: 62px;
  border-radius: 3px;
  background-color: #fff;
  width: 366px;
  height: 348px;
  flex-direction: column;
  padding: 77px 17px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 36px;
  font-size: 32px;
  color: #494949;
  font-family: "Abhaya Libre";
}
.iphone-13-pro-max-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1471px;
  overflow: hidden;
  text-align: left;
  font-size: 11px;
  color: #000;
  font-family: Inter;
}
