*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar:hover {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    border-radius: 1000px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: var(--main-theme-color);
    opacity:0.7;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #b30000;
    width: 10px;
    border-radius: 1000px;

}
body:has(.fixed-container.d-flex){
    overflow-y:hidden;
}
.fixed-container{
    position: fixed;
    display: none;
    inset:0;
    z-index: 1;
    padding: 10vw 10vh;
}
.fixed-container .gray-box{
    background: gray;
    opacity: 0.5;
    position: absolute;
    inset:0;
}
.fixed-container .exit-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    padding: 5px 10px;
    align-content: center;
}
.fixed-container .exit-btn:hover{
    background: var(--main-theme-color);
}
.fixed-container .exit-btn:active{
    background: var(--main-theme-color-hover);
}
.fixed-container .content{
    min-height: 150px;
    margin-inline:auto;
    border-radius: 15px;
    background: var(--web-background-color);
    position: relative;
    box-shadow: 0 0 12px rgb(0 0 0 / 6%);
}
@media (max-width:996px){
    .fixed-container {
        padding: 0;

    }
    .fixed-container .content{
        position: absolute;
        inset:0;
        border-radius: unset;
    }

}
.avatar {
    object-fit: cover;
    object-position: center;
    aspect-ratio:1/1;
    margin:auto;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
.hl-none{
    position:relative;
}
.hl-none::after{
    content:'';
    position:absolute;
    inset:0;
    z-index: 1;
    border-radius: inherit;
}
.noselect *,.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

.pe-none{
    pointer-events: none;
}