body {
  margin: 0;
  line-height: normal;
}
.text-b {
  position: absolute;
  top: 15px;
  left: 43px;
  display: inline-block;
}
.titile-div {
  align-self: stretch;
  position: relative;
  border-top: 0 solid #000;
  border-right: 0 solid #000;
  border-bottom: 0.2px solid #000;
  border-left: 0 solid #000;
  box-sizing: border-box;
  height: 65px;
  flex-shrink: 0;
  overflow: hidden;
}
.current-password-div {
  position: relative;
  display: inline-block;
}
.frame-input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: transparent;
  align-self: stretch;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
}
.save-b2 {
  position: absolute;
  top: 9px;
  left: 258px;
  font-size: 22px;
  display: inline-block;
  font-family: Gelasio;
  color: #fff;
  text-align: center;
}
.frame-button3 {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0;
  background-color: #db5a42;
  align-self: stretch;
  position: relative;
  border-radius: 50px;
  box-sizing: border-box;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div17 {
  align-self: stretch;
  flex-direction: column;
  padding: 29px 48px;
  align-items: flex-start;
  gap: 24px;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Gelasio;
}
.changepass-section,
.frame-div17,
.section-div {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.section-div {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
  width: 709px;
  height: 897px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 28px 0 23px;
  align-items: center;
  gap: 9px;
}
.changepass-section {
  position: relative;
  background-color: #f7fafc;
  width: 100%;
  flex-direction: row;
  padding: 30px;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: Inter;
}
