body {
  margin: 0;
  line-height: normal;
}
.recommend-for-you {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.log-in-div {
  position: absolute;
  top: 9px;
  left: 12px;
  display: inline-block;
}
.btn-div {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #db5a42;
  box-sizing: border-box;
  width: 89px;
  height: 37px;
  flex-shrink: 0;
  overflow: hidden;
  font-size: 16px;
  color: #db5a42;
  font-family: Gelasio;
}
.titile-div1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.img-icon5 {
  flex: 1;
  align-self: stretch;
  position: relative;
  border-radius: 20px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.recipe-author-div,
.recipe-name-div {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.recipe-name-div {
  text-transform: capitalize;
}
.recipe-author-div {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}
.recipe-div {
  border-radius: 20px;
  width: 269px;
  height: 269px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  box-shadow: inset 0 0 0 0#88888825;
  transition: all 1s ease;
}
.recipe-div:hover {
  box-shadow: inset 0 0 50px 100px #88888825;
  transition: box-shadow 5s;
}
.recipe-div:active {
  box-shadow: inset 0 0 50px 100px #88888850;
  transition: 0.1s;
}
.items-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  font-size: 24px;
  font-family: Gelasio;
}
.list-div {
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(79, 79, 186, 0.06);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  gap: 17px;
  transition: 0.3s;
}
.list-div:hover {
  box-shadow: 0 5px 10px 0#00000075;
}
.community-section,
.list-div,
.section-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-div3 {
  border-radius: 20px;
  justify-content: center;
  width: 80%;
}
.community-section {
  position: relative;
  background-color: #f7fafc;
  width: 100%;
  padding: 20px 0 50px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 45px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: Inter;
}
@media screen and (max-width: 768px) {
  .recommend-for-you {
    width: 100%;
  }
  .titile-div1 {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
