body {
  margin: 0;
  line-height: normal;
}
.ellipse-icon,
.rectangle-icon {
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.rectangle-icon {
  width: 476px;
  height: 331px;
  transition: 1s;
}
.rectangle-icon:hover {
  scale: 1.1;
}
.ellipse-icon {
  width: 45px;
  height: 45px;
}
.chef-div {
  position: relative;
  display: inline-block;
}
.frame-div18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.log-in-icon {
  position: absolute;
  top: 10.83px;
  left: 20.75px;
  width: 47.09px;
  height: 12.4px;
}
.frame-button4 {
  cursor: pointer;
  border: 1px solid #db5a42;
  padding: 0;
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
  width: 89px;
  height: 37px;
  flex-shrink: 0;
  overflow: hidden;
}
.log-in-icon1 {
  position: absolute;
  top: 11.68px;
  left: 26.86px;
  width: 31.34px;
  height: 11.55px;
}
.div15 {
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.comments-12-span,
.div14,
.div15 {
  display: flex;
  align-items: center;
}
.div14 {
  flex-direction: row;
  justify-content: center;
  gap: 125px;
  z-index: 0;
}
.comments-12-span {
  position: absolute;
  height: 38.38%;
  width: 72.83%;
  top: 48.48%;
  right: 2.34%;
  bottom: 13.13%;
  left: 24.82%;
  font-size: 24px;
}
.shape-icon2 {
  position: relative;
  width: 23px;
  height: 30px;
  flex-shrink: 0;
}
.frame-div20,
.name-of-the-cook {
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}
.frame-div20 {
  top: 48px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.name-of-the-cook {
  top: 0;
  width: 427px;
}
.frame-div19 {
  align-self: stretch;
  position: relative;
  height: 99px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.precooktime-icon {
  position: absolute;
  margin: 0 !important;
  top: 297px;
  left: 2px;
  width: 429.08px;
  height: 23.88px;
  flex-shrink: 0;
  z-index: 2;
}
.detail-div2,
.profile-chef-article {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.detail-div2 {
  align-self: stretch;
  flex-direction: column;
  padding: 6px 2px;
  justify-content: flex-start;
  position: relative;
  gap: 21px;
}
.profile-chef-article {
  flex-direction: row;
  padding: 10px 26px;
  justify-content: center;
  gap: 50px;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: Gelasio;
}
.unsplashonxjrr3erwc-icon {
  position: relative;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-div21 {
  width: 50%;
  flex-shrink: 0;
}
.frame-div21,
.frame-div22,
.frame-div23,
.ingredient-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.frame-div23,
.ingredient-div1 {
  padding: 1px 0;
  box-sizing: border-box;
  justify-content: center;
  gap: 9px;
}
.ingredient-div1 {
  width: 643px;
  padding: 10px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.intructions-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 127.23px;
  height: 16.83px;
  flex-shrink: 0;
  z-index: 0;
}
.in-a-large-bowl-mix-together {
  position: relative;
  color: #000;
  display: inline-block;
  width: 566px;
  height: 67px;
  flex-shrink: 0;
}
.step1-intruc-div {
  margin: 0 !important;
  position: absolute;
  top: 71px;
  left: 15px;
  width: 574px;
  height: 98px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  z-index: 1;
}
.in-a-large-bowl-mix-together1 {
  position: relative;
  color: #000;
  display: inline-block;
  width: 566px;
  height: 68px;
  flex-shrink: 0;
}
.step2-intruc-div,
.step3-intruc-div {
  margin: 0 !important;
  position: absolute;
  top: 185px;
  left: 15px;
  width: 574px;
  height: 98px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  z-index: 2;
}
.step3-intruc-div {
  top: 313px;
  z-index: 3;
}
.content-div,
.instructions-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.instructions-div {
  width: 643px;
  height: 448px;
  flex-shrink: 0;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
  gap: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.content-div {
  align-items: center;
  gap: 16px;
}
.image-20-icon {
  position: relative;
  width: 136px;
  height: 133px;
  flex-shrink: 0;
  object-fit: cover;
}
.chicken-egg-05 {
  position: relative;
  width: 89.41px;
  height: 32.45px;
  flex-shrink: 0;
}
.frame-div26,
.frame-div27 {
  box-sizing: border-box;
  display: flex;
}
.frame-div27 {
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.frame-div26 {
  border-radius: 20px;
  border: 0.5px solid #000;
  position: relative;
  width: 100%;
  flex-direction: row;
  padding: 10px 11px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-div2,
.suggestion-aside {
  display: flex;
  justify-content: flex-start;
}
.suggestion-aside {
  flex-direction: column;
  padding: 36px 0;
  box-sizing: border-box;
  align-items: center;
  gap: 12px;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: "Archivo Narrow";
}
.section-div2 {
  width: 1354px;
  flex-direction: row;
  align-items: flex-start;
  gap: 323px;
}
.comments-h2,
.like-icon {
  position: relative;
  flex-shrink: 0;
}
.comments-h2 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 150.11px;
  height: 35.19px;
}
.like-icon {
  width: 25px;
  height: 24px;
}
.liked-a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  color: inherit;
}
.frame-div33,
.like-manage-div {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.like-manage-div {
  background-color: #fff;
  width: 589px;
  flex-direction: row;
  padding: 15px 1px 15px 20px;
  align-items: center;
  gap: 50px;
}
.frame-div33 {
  width: 382px;
  flex-direction: column;
  padding: 0 1px;
  align-items: flex-start;
  font-size: 20px;
}
.rectangle-icon1 {
  position: relative;
  border-radius: 30px;
  width: 614px;
  height: 126px;
  flex-shrink: 0;
  z-index: 0;
}
.ellipse-icon1 {
  position: relative;
  width: 51.93px;
  height: 46.3px;
  flex-shrink: 0;
  object-fit: cover;
}
.h-span {
  color: rgba(0, 0, 0, 0.5);
}
.cmt-write-txt-span {
  line-break: anywhere;
  width: 100%;
}
.cmt-write-a {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  width: 121.54px;
  flex-shrink: 0;
  color: inherit;
}
.ellipse-icon2,
.like-1-icon {
  position: relative;
  width: 22.36px;
  height: 19.63px;
  flex-shrink: 0;
  z-index: 0;
}
.like-1-icon {
  position: absolute;
  margin: 0 !important;
  top: 3px;
  left: 3px;
  width: 15.33px;
  height: 13.46px;
  object-fit: cover;
  z-index: 1;
}
.dislike-icon1,
.like-div {
  position: relative;
  flex-shrink: 0;
}
.like-div {
  width: 22.28px;
  height: 19.63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dislike-icon1 {
  width: 21.92px;
  height: 19px;
}
.detail-cmt-div,
.rectangle-input {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.detail-cmt-div {
  top: 36.81px;
  left: 43px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 89px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  z-index: 1;
}
.rectangle-input {
  border: 0.5px solid #000;
  background-color: #eee9e9;
  top: 63px;
  left: 108px;
  border-radius: 40px;
  box-sizing: border-box;
  width: 289px;
  height: 23px;
  opacity: 0.5;
  z-index: 2;
}
.cmt-main-section,
.cook-detail-section,
.cre-cmt-div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.cre-cmt-div {
  height: 150px;
  flex-shrink: 0;
  padding: 0 26px;
  align-items: center;
  position: relative;
  font-size: 13px;
}
.cmt-main-section,
.cook-detail-section {
  padding: 32px 15px;
  align-items: flex-start;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-family: Gelasio;
}
.cook-detail-section {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1597px;
  padding: 35px 0 191px;
}
